<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.umn.test" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/plannerly"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/plannerly_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test" >
        <activity
            android:name=".WeeklyView"
            android:exported="true"
            android:label="@string/title_activity_weekly_view"
            android:theme="@style/Theme.Test.NoActionBar" />
    </application>

</manifest>